*{
    margin: 0px;
}




h1 {
    text-align: center;
    background-color: aqua;
}


table {
    width: 100%;
    color: blue;
}

td{
    border: 2px solid black;
    border-collapse: collapse;
    height: 300px;
}

th{
    border: 2px solid black;
    padding: 20px;
}

